body {
	background: url('images/skyline_web.jpg')no-repeat center center fixed;
	background-size: cover;
}

#title {
	position: absolute;
	bottom: 45%;
	left: 25%;
	width: 50%;
	text-align: center;
	border: 1px solid red;
}


a:link, a:visited {
	color: white;
	font-size: 72px;
	text-decoration: none;
}

a:hover {
	color:#6CCC1E;
	text-decoration:blink;
}

a:active {
	color: red;
	text-decoration:inherit;
}

